.form{
    display: flex;
    gap: 1.5rem;
}
.form input{
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    background-color: rgba(0, 0, 0, 0.441);
    font-weight: bolder;
    color: red;

}
.form input::placeholder{
    color: white;
}
.form input:nth-child(3){
    background-color: rgba(72, 50, 50, 0.855);
    cursor: pointer;
}